<% include ../partials/header %>

<div class="jumbotron text-center">
<div><img style="width:200px; border-radius:50%;" src="https://scontent.fhdy2-1.fna.fbcdn.net/v/t1.0-9/32949539_1825395194188426_1174760322385313792_n.jpg?_nc_cat=108&_nc_eui2=AeEbUSf9iAjhtA7PhR1tbyxoLNZtfmNOzb0rMEwuWxyYbsaVXAAoqolch5Ui6x0vxojFlevjrs7o5d7OoNlhPkw1GHdgf_Nkd4KEtYwkjbubQA&_nc_pt=1&_nc_ht=scontent.fhdy2-1.fna&oh=3fa02388663f1fb6db4c26c439fd90a5&oe=5C87753C" ></div>
    <h1 class="display-4">Jidapa tassanakul</h1>
    <hr class="my-2">
    <p class="lead">5930213035</p>
</div>

<% include ../partials/footer %>