<% include ../partials/header %>

<h1 class="display-4">About Me</h1>
<div class="jumbotron">
    <p class="display-4"><%= fullname %></p>
    <p class="lead">Software Engineer</p>
    <hr class="my-2">
    <br>
    <p class="lead">
        Hobbies: 
        <% hobbies.forEach(function(hobby) { %>
            <li><%= hobby %><li>
        <% }); %>
    </p>
</div>

<% include ../partials/footer %>