<% include ../partials/header %>

<form action="/user/insert" method="post">
<div class="form-group">
    <label for="">ID</label>
    <input type="number" class="form-control" name="id" id="" aria-describedby="helpId" placeholder="">
    <small id="helpId" class="form-text text-muted">User ID</small>
</div>

<div class="form-group">
    <label for="">Email</label>
    <input type="text" class="form-control"  name="title" id="" aria-describedby="helpId" placeholder="">
    <small id="helpId" class="form-text text-muted">User Email</small>
</div>
<div class="form-group">
    <label for="">Password</label>
    <input type="number" class="form-control"  name="price" id="" aria-describedby="helpId" placeholder="">
    <small id="helpId" class="form-text text-muted">User Password</small>
</div>

<button type="submit" class="btn btn-primary">Summit</button>
<a class="btn btn-secondary" href="/user" role="button">Cancel</a>
<button type="reset" class="btn btn-secondary">Clear</button>
</form>
    <% include ../partials/footer %>